@import "tailwindcss";



@theme {
  --color-primary: oklch(45% 0.15 25);
  --color-forborder: oklch(92% 0.01 60);
  --color-forbackround: oklch(98.5% 0.005 60);
  --color-formuted: oklch(95.5% 0.01 60);
  --text-primary: oklch(45% 0.15 25) --color-primary: #111332;
  --color-secondary: #594ed1;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.float-badge {
  animation: float 3s ease-in-out infinite alternate;
}
